################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.user
*.suo

# Build
[Bb]in/
[Oo]bj/

# Visual Studio cache
*.userosscache
*.sln.docstates

# NuGet
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp
